<div class="container">
    <table>
        <!-- Header -->
        <thead>
            <tr class="header">
                <th>ID</th>
                <th>Email</th>
                <th>Statut</th>
                <th>Action</th>
            </tr>
        </thead>
        <!-- Body -->
        <tbody>
            @for (utilisateur of utilisateurs; track $index) {
                <tr class="user-row">
                    <td>{{ utilisateur.id }}</td>
                    <td>{{ utilisateur.email }}</td>
                    <td>{{ utilisateur.bloque ? "Bloquer" : "Débloquer" }}</td>
                    <td>
                        <button 
                            class="action-button"
                            (click)="toggleBloque(utilisateur, $index)">
                            {{ utilisateur.bloque ? 'Débloquer' : 'Bloquer' }}
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
