<div class="administration">
    <h1>Liste des Utilisateurs</h1>
    <table>
      <thead>
        <tr>
          <th>Email</th>
          <th>Statut</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let utilisateur of utilisateurs; let i = index; trackBy: trackByFn">
          <td>{{ utilisateur.email }}</td>
          <td>{{ utilisateur.isBlocked ? 'Bloqué' : 'Débloqué' }}</td>
          <td>
            <button (click)="toggleBlockUser(utilisateur.id, utilisateur.isBlocked)">
              {{ utilisateur.isBlocked ? 'Débloquer' : 'Bloquer' }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  